<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./partials/head") %>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="allContent">
        <div class="navbar">
            <a href="/">
                <div class="navbarHeading">
                    <h2>Linkly</h2>
                </div>
            </a>
            <% if (locals.user) { %>
                <div class="navbarButtons">
                    <img src=<%=locals.image %> onclick="openUserMenu()" alt="">
                    <!-- <a href="/logout">Logout</a> -->

                </div>
                <div class="profile-menu-wrap" id="profileMenu">
                    <div class="profile-menu">
                        <div class="user-info">
                            <img src=<%=locals.image %> alt="">
                            <div>
                                <h3>
                                    <%=user.name %>
                                </h3>
                                <p>
                                    <%=user.email %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="inputLinksBox">
            <div class="inputLinkBoxInner">
                <div class="colorfullHeading">
                    <h1>Shorten Your Looooong Links :&#41;</h1>
                </div>
                <p>Linkly is an efficient and easy-to-use URL shortening service that streamlines your
                    online experience.</p>
                <form action="/url/generateshorturl" method="POST">
                    <div class="inputBox">
                        <input type="url" name="url" placeholder="Enter the link here" required>
                        <button type="submit">Shortnen Now!</button>
                    </div>
                </form>

                <% if (locals.shortId) { %>
                    <div class="copyText">
                        <!-- <input type="text" class="inputField" placeholder=`${http://localhost:5000/url/H78qA3xLTdd}` readonly> -->
                        <input type="text" class="inputField" placeholder="<%= BASE_URL%>/url/<%=locals.shortId %>"
                            readonly>
                        <i class="ri-file-copy-line"></i>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="allHistoryOfURL">
        <div class="custom-shape-divider-top-1723112757">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <% if (locals.user) { %>

        <div class="allHistoryBackground">
            <div class="allHistoryTable">
                <div class="allHistoryTableHeading">
                    <h3>History (<%= locals.urls.length %>)</h3>
                </div>

                <% if (locals.urls.length !==0) { %>
                    <!-- <div class="allHistoryTableContent"> -->
                    <table class="allHistoryTableHeadingContent">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>ShortID</th>
                                <th>Original Link</th>
                                <th>Clicks</th>
                                <th>QR Code</th>
                                <th>Delete Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= locals.urls.length-index %>
                                    </td>
                                    <td>
                                        <a target="_blank" href="/url/<%= url.shortId %>">
                                            <%= url.shortId %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                    <td>
                                        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= BASE_URL%>/url/<%=url.shortId %> "
                                            alt="">
                                    </td>
                                    <td>
                                        <a href="/deleteid/<%= url._id %>"><i class="ri-delete-bin-6-line"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <!-- </div> -->
                    <% } else { %>
                        <h5>No Data to Display!</h5>
                        <% } %>

            </div>
        </div>
        <% } %>

            <% if (!locals.user) { %>


                <div class="feedback">
                    <div class="feedbackInner">
                        <h2>What people say about Linkly</h2>
                        <p class="feedbackInnerPara">You’re in good company. Thousands of businesses use Linkly to
                            create
                            tracking links, retarget
                            visitors, make QR codes and more.</p>
                        <div class="feedbackBlocks">
                            <div class="feedbackBlockFirst">
                                <div class="feedBackBox">
                                    <div class="feedBackBoxPara">
                                        <p>“Very nice product, was our favorite among several we tried. The
                                            developer/owner
                                            of
                                            Linkly is very responsive and developed helpful features quickly,
                                            following our
                                            request.
                                            Very cool.”</p>
                                    </div>
                                    <div class="feedBackBoxBottom">
                                        <hr>
                                        <div>
                                            <div class="circle"></div>
                                            <h4>Alon D.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="feedBackBox">
                                    <div class="feedBackBoxPara">
                                        <p>“We were looking for a tool that allowed us to track link clicks from
                                            across many
                                            different sources to a 3rd party site we didn’t have access to and pixel
                                            all of
                                            them
                                            centrally. Linkly is a clean, easy way of doing that quickly and
                                            cheaply.”</p>
                                    </div>
                                    <div class="feedBackBoxBottom">
                                        <hr>
                                        <div>
                                            <div class="circle"></div>
                                            <h4>ROBERT W.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="feedBackBox dNone">
                                    <div class="feedBackBoxPara">
                                        <p>“Easily create shortened URLs which showcase your branding.”</p>
                                    </div>
                                    <div class="feedBackBoxBottom">
                                        <hr>
                                        <div>
                                            <div class="circle"></div>
                                            <h4>JAMIE P.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feedbackBlockSecond">
                                <div class="feedbackBlockColumn">
                                    <div class="feedBackBoxx">
                                        <div class="feedBackBoxParax">
                                            <p>“Very easy to use - great customer help - clear data”</p>
                                        </div>
                                        <div class="feedBackBoxBottom">
                                            <hr>
                                            <div>
                                                <div class="circle"></div>
                                                <h4>ALEKSANDRA R.</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feedBackBoxx">
                                        <div class="feedBackBoxParax">
                                            <p>“Good features, relatively easy to use and got great results”</p>
                                        </div>
                                        <div class="feedBackBoxBottom">
                                            <hr>
                                            <div>
                                                <div class="circle"></div>
                                                <h4>NIALL H.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="feedBackBox">
                                    <div class="feedBackBoxPara">
                                        <p>“Love the geo targeting feature whereby it auto detects user’s location
                                            and
                                            redirects
                                            to appropriate local URL, also happy with the mailto link shortening
                                            which isn’t
                                            offered by most link shorteners.”</p>
                                    </div>
                                    <div class="feedBackBoxBottom">
                                        <hr>
                                        <div>
                                            <div class="circle"></div>
                                            <h4>SAGAR J.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="feedBackBox">
                                    <div class="feedBackBoxPara">
                                        <p>“This software it remarkably easy to use and would be a great choice for
                                            any
                                            marketer
                                            who wants to be able to track link metrics without losing brand
                                            integrity.”</p>
                                    </div>
                                    <div class="feedBackBoxBottom">
                                        <hr>
                                        <div>
                                            <div class="circle"></div>
                                            <h4>Shanda E.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <footer>
                        <p>Copyright &copy;2024 <span>Linkly.com</span></p>
                    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../js/animation.js"></script>

</html>